* {
    box-sizing: border-box;
}

.about--container {
    position: relative;
    z-index: 3;
    background-color: var(--main-color);
}

/* ----- ABOUT ------*/
.about-n-skills {
    background-color: var(--main-color);
    color: #fff;
    position: relative;
    overflow: hidden;
}
.about--img {
    max-width: 300px;
    margin: 15px 0;
}
.about, .skills--about {
    margin: auto;
    width: 85%;
    padding: 55px 0 25px 0;
}
.skills--about {
    padding: 0 0 25px 0;
}
.about .title, .skills--about .title {
    font-family: Bold Sarabun;
    font-size: 26px
}
.about .txt, .skills--about .txt{
    font-family: Light Sarabun;
    font-size: 16px;
    padding: 0.8em 0 1em 0;
    text-align: justify;
    line-height: 140%;
}
.skills--about .subtxt {
    font-size: 14px;
}
.technologies {
    display: flex;
    flex-wrap: wrap;
}
.tech {
    width: 50%;
    padding: 1em;
    text-align: center;
}
.tech--logo {
    font-size: 70px;
}
.tech--txt {
    font-family: Light Sarabun;
    font-size: 16px;
    margin-top: 8px;
}

.resume--container {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding: 1.5em;
    margin-bottom: 30px;
}
.about--resume {
    display: inline-block;
    padding: 0.8em 1.8em;
    outline: solid 1px #fff;
    background-color: var(--main-color);
    font-family: Bold Sarabun;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    transition: background-color .3s, outline .3s;
    cursor: pointer;
    z-index: 55;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.about--resume:hover, .about--resume:active {
    background-color: var(--secondary-color);
    outline: none;
}


@media (min-width: 1200px) {
    .about-n-skills {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
        padding-top: 80px;
    }
    .about, .skills--about {
        padding: 0;
        width: 100%;
    }
    .about {
        display: grid; 
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .about .title {
        grid-column: 1/7;
        grid-row: 1;
        font-size: 30px;
    }
    .about .about--img {
        grid-column: 1/7;
        grid-row: 2;
    }
    .about--img {
        max-width: 450px;
    }
    .about .txt {
        grid-column: 7/-1;
        grid-row: 2;
        justify-self: center;
        align-self: center;
    }
    
    .skills--about {
        margin-top: 50px;
        display: grid; 
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        gap: 20px;
    }
    .skills--about .title {
        font-size: 30px;
        grid-column: 1/7;
        grid-row: 1;
        text-align: left;
    }
    .skills--about .technologies--txt {
        grid-row: 2; 
        grid-column: 1/7;
    }
    .technologies {
        grid-row: 3;
        grid-column: 1/7;
    }
    .tech {
        width: 20%;
    }
    .tech--logo {
        font-size: 55px;
    }
    .skills--about .other--txt {
        grid-column: 7/-1;
        grid-row: 2/span 3;
    }
    .about--resume {
        max-width: 180px;
    }
}

@media (min-width: 1600px) {
    .about-n-skills {
        padding-top: 150px;
    }
    .about {
        gap: 30px;
    }
    .about .title {
        grid-column: 1/-1;
        justify-self: center;
        align-self: center;
        grid-row: 1;
        font-size: 45px;
    }
    .about--img {
        max-width: 550px;
        justify-self: center;
        align-self: center;
    }
    .about .txt {
        font-size: 18px;
    }
    .skills--about {
        gap: 30px;
        margin-top: 80px;
    }
    .skills--about .txt {
        font-size: 18px;
    }
    .skills--about .title {
        grid-column: 1/-1;
        justify-self: center;
        align-self: center;
        grid-row: 1;
        font-size: 45px;
    }
    .resume--container {
        margin-bottom: 50px;
    }
}