* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Regular Sarabun;
    src: url(/Fonts/Sarabun/Sarabun-Regular.ttf);
}
@font-face {
    font-family: Bold Sarabun;
    src: url(/Fonts/Sarabun/Sarabun-Bold.ttf);
}
@font-face {
    font-family: Light Sarabun;
    src: url(/Fonts/Sarabun/Sarabun-Light.ttf);
}
@font-face {
    font-family: Regular Oswald;
    src: url(/Fonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
    font-family: Light Oswald;
    src: url(/Fonts/Oswald/static/Oswald-Light.ttf);
}